<div class="simplified-gallery" id="gallery" style="margin-left: 10%; margin-right: 10%">
  <noscript>
    <div class="no-data">JavaScript is required to display this gallery.</div>
  </noscript>
</div>

<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <img id="lightbox-img" src="" alt="Large view">
</div>