:root {
--bg:oklch(0.15 0.075 301);
--bg-dark:oklch(0.1 0.075 301);
--bg-light:oklch(0.2 0.075 301);
--border:oklch(0.4 0.15 301);
--border-muted:oklch(0.3 0.15 301);
--danger:oklch(0.7 0.15 30);
--highlight:oklch(0.5 0.15 301);
--info:oklch(0.8 0.15 260);
--primary:oklch(0.76 0.15 301);
--secondary:oklch(.65 0.13 240);
--success:oklch(0.7 0.15 160);
--text:oklch(0.96 0.1 301);
--text-muted:oklch(0.76 0.1 301);
--warning:oklch(0.7 0.15 100)
}

body {
background-color:var(--bg);
color:var(--text);
font-family:sans-serif;
font-family:sans-serif;
margin:0
}

#stats {
background-color:#f9f9f9;
font-family:Arial,sans-serif;
line-height:1.6;
margin:0 auto;
max-width:800px;
padding:1em
}
img.resp-img { height: auto !important; width: auto; max-width: 100%; }
h2 {
border-bottom:1px solid var(--highlight);
display:flex;
height:33px;
justify-content:space-between;
margin-bottom:.3em;
padding-bottom:0
}

ul {
list-style-type:none;
padding-left:0
}

li {
margin-bottom:.5em
}

#stats-container {
display:flex;
height:100vh
}

#left-panel {
background-color:var(--bg-light);
color:var(--text);
overflow-y:auto;
padding:10px;
width:50%
}

#right-panel {
background-color:var(--bg-dark);
color:var(--text-muted);
padding:10px;
width:50%
}

#search-controls {
padding-bottom:4px
}

#hm-stats-container {
display:flex;
flex-direction:column
}

.hm-item {
align-items:center;
border-bottom:1px solid var(--border);
display:flex;
justify-content:space-between;
padding:5px
}

.hm-item .hm-label,.hm-item .hm-value {
padding:0 10px
}

.hm-item .hm-label {
flex-basis:70%
}

.hm-item .hm-value {
flex-basis:20%;
text-align:right
}

.hm-item .hm-min,.hm-item .hm-max {
flex-basis:20%;
text-align:right
}

.pinned-item {
align-items:center;
display:flex;
justify-content:space-between
}

.pinned-item button {
margin-left:auto
}

#pinned-list li {
align-items:center;
background-color:var(--bg-light);
border-radius:4px;
color:var(--text);
display:flex;
justify-content:space-between;
margin-bottom:4px;
padding:6px 10px
}

.unpin-button {
background:transparent;
border:none;
color:var(--danger);
cursor:pointer;
margin-left:10px
}

#pins-header {
display:flex;
justify-content:space-between;
margin-bottom:10px
}

@keyframes glow {
0% {
background-color:var(--warning)
}

100% {
background-color:transparent
}
}

.hm-value.glow {
animation:glow 1s ease-in-out
}

.note-section,.note-card {
display:block!important
}

.note-description {
background-color:var(--bg-light);
border:1px solid var(--highlight);
border-radius:6px;
margin:5px 0;
padding:10px;
white-space:pre-wrap;
width:100%
}

#addNoteBtn {
background:var(--bg-dark);
border:none;
border-radius:4px;
color:var(--text-muted);
cursor:pointer;
margin-left:auto;
padding:6px 10px
}

.popup-overlay {
align-items:center;
background-color:var(--bg);
bottom:0;
display:flex;
justify-content:center;
left:0;
position:fixed;
right:0;
top:0;
z-index:9999
}

.popup-box {
background:var(--bg-light);
border-radius:8px;
display:flex;
flex-direction:column;
gap:10px;
max-width:90%;
padding:20px;
width:400px
}

.popup-box h3 {
margin-top:0
}

.popup-box input,.popup-box textarea {
border:1px solid var(--border);
border-radius:4px;
padding:6px;
width:100%
}

.popup-buttons {
display:flex;
justify-content:space-between;
margin-top:10px
}

.navbar {
background-color:var(--bg-dark);
overflow:hidden;
width:100%
}

.navbar a {
align-content:center;
color:var(--text);
float:left;
font-size:17px;
height:34px;
overflow:hidden;
padding:0;
text-align:center;
text-decoration:none;
width:20%
}

.navbar a.active {
background-color:var(--bg-dark);
color:var(--text-muted)
}

@media screen and (max-width: 500px) {
.navbar a {
display:block;
float:none;
text-align:left;
width:100%
}
}

#container {
display:flex;
gap:2rem;
padding:1rem
}

#admin-center-stats {
color:var(--text)
}

#text-panel {
background:var(--bg);
border-radius:.5rem;
color:var(--text-muted);
font-family:monospace;
padding:1rem;
white-space:pre-wrap;
width:60%
}

#image-gallery {
display:flex;
flex-wrap:wrap;
gap:1rem;
width:40%
}

.gallery-img {
border:1px solid #ccc;
border-radius:.5rem;
max-height:400px;
max-width:100%
}

#about {
background:#545454;
border-radius:.5rem;
color:#fff;
font-family:monospace;
margin:15px;
padding:1rem;
white-space:pre-wrap
}

.dropdown {
float:right;
overflow:hidden
}

.dropdown .dropbtn {
background-color:inherit;
border:none;
color:var(--text);
font-family:inherit;
font-size:16px;
height:34px;
margin:0;
outline:none;
width:40px
}

.navbar a:hover,.dropdown:hover .dropbtn {
background-color:var(--highlight)
}

.dropdown-content {
background-color:var(--bg);
box-shadow:0 8px 16px 0 #0003;
display:none;
position:absolute;
right:6px;
width:100px;
z-index:1
}

.dropdown-content a {
background-color:var(--bg);
color:var(--text);
display:block;
float:left;
padding-right:6px;
text-align:right;
text-decoration:none;
width:100%
}

.dropdown-content a:hover {
background-color:var(--bg-light);
border-width:1px
}

.dropdown:hover .dropdown-content {
display:block
}